/* this is where we have our global styles */
:root {
  --font-primary: 'Inter', sans-serif;
  --background: #ffffff;
  --text-color: #0d0d0d;
}



html, 
body {
  overflow-x: visible;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-drag: none;


  
  }


::selection{
  background-color: #DC143C;
  color: white;
}

html,
body {
  font-family: var(--font-primary);
  background-color: var(--background);
  color: var(--text-color);
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
